#main-content {
  flex-grow: 1;
  padding: 3rem 3rem 0 3rem;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
}
.app {
  display: flex;
}
.side-menu {
  position: fixed;
  height: 100vh;
  width: 10rem;
  overflow-y: auto;
  background-color: #181e33;
  padding: 3rem 0 2rem 0;
}

@media (max-width: 768px) {
  #main-content {
    padding: 5.5rem 1rem 0 1rem;
    margin: 0;
  }

  .side-menu {
    width: 100%;
    padding: 5rem 0 5rem 0;
    z-index: 1;
    transform: translateX(-101vw);
  }

  .side-menu.active {
    animation: slideIn 300ms;
    transform: translateX(0);
  }

  .side-menu.inactive {
    animation: slideOut 300ms;
    transform: translateX(-101vw);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-101vw);
  }
  to {
    transform: translateY(0vw);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(-101vw);
  }
}
