.hamburger {
  position: fixed;
  z-index: 2;
  top: 1rem;
  left: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 6px #222;
  outline: none;
}

@media (min-width: 769px) {
  .hamburger {
    display: none !important;
  }
}
